#sidebar {
  width: 60%;
  height: 120px;
  min-height: 120px;
  display: flex;
  z-index: 1111;
  border-bottom: 1px dashed #fff;

  .nav-box {
    width: 100%;
    max-width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    a {
      color: #fff;
      white-space: nowrap;
      font-size: 1.5rem;
      font-family: 'Alumni Sans Pinstripe';
      text-decoration: none;
      transition: font-size .5s ease;
    }

    &:hover{

      a{
        font-size: 3rem;
        color: #fff;
        white-space: nowrap;
      }
    }
  }

  #logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #000;     
    color: #fff;                
    border-radius: 50%;          
    font-weight: 800;           
    font-family: 'Jost', sans-serif;
    font-size: 24px;
  }
}