#root {
  width: 100%;
  text-align: center;
}

#main {
  position: relative;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #011f5f;
  background-color: #1d0413;
  transition: all ease-in-out 1s;
  overflow: hidden;

  h1 {
    position: absolute;
    top: 15%;
    left: 7%;
    margin: 0;
    width: 50%;
    text-align: left;
    z-index: 0;
    font-size: 11rem;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;

    &.animate {
      opacity: 0.7;
      transform: translateX(0%);
    }
  }

  #background {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    filter: blur(10px);
    opacity: .5;
  }

  #main-content {
    display: flex;
  }

  #main-legend {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Poiret One';
    z-index: 111;

    p {
      font-size: 2rem;
    }

    &.hide {
      animation: slideLegend .5s ease forwards;
    }
  }

  #banner-container {
    position: absolute;
    top: 20%;
    right: 10%;
    cursor: pointer;
    width: 500px;    
    height: 600px;
    max-height: 600px;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 40px;  
  }

  .hover-img {
    width: 100%;
    height: auto;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 1s ease forwards;
    filter: brightness(60%);
      object-fit: cover;

  }

  .hover-description {
    position: absolute;
    background-color: #000000;
    top: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(100%);
    animation: slideIn 1s ease forwards;
    height: 100%;
    
    .text {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      font-family: 'Poiret One';

      h1 {
        font-weight: 900;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  .btn-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      width: 150px;
      max-width: 150px;
      min-width: 140px ;
      height: 40px;
    }

    #dropdown-btn {
      margin-top: 1rem;
      position: relative;
      right: 0;
      background-color: transparent;
      border: 1px solid #fff;
    }

    .dropdown {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      height: 0;
      opacity: 0;
      animation: slideDown .5s ease forwards;

      button {
        border-radius: 0;
        background-color: transparent;
        border: none;

        &:hover{
          background-color: #888;
        }
      }
    }

  }

  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes slideDown {
    to {
      opacity: 1;
      height: auto;
      top: 100%;
      transform: translateY(0%);
    }
  }

  @keyframes slideLegend {
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
